[submodule "thirdparty/verilog-vcd-parser"]
	path = thirdparty/verilog-vcd-parser
	url = git@github.com:Jomit626/verilog-vcd-parser.git
[submodule "thirdparty/slang"]
	path = thirdparty/slang
	url = git@github.com:MikePopoloski/slang.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = git@github.com:gabime/spdlog
